.weather {
    padding: 15px;
}
.weather-image {
    display: table-cell;
    vertical-align: middle;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
img {
    float: left;
    width: 100%;
}
.weather-description {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}