.city {
    padding: 15px 15px 0 15px;
}
.city-image {
    display: table-cell;
    vertical-align: middle;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    overflow: hidden;
}
.city-image.city-image_big {
    width: 90px;
    height: 90px;
}
.city-description {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}
img {
    float: left;
    width: 100%;
}